.dropdown-toggle, .dropdown-item {
    cursor: pointer;
    color: black;
}

.dropdown-item:hover {
    color: whitesmoke;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}